.contacts{
  margin: 80px;
}
.contactsList{
  display: flex;
    flex-direction: column;
}
.contactWrapper{
  display: flex;
  flex-direction: column;
}
.listItem{
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid;
  width: 500px;
  padding: 10px;
  margin-bottom: 5px;

  font-size: 30px;

  background-color: cadetblue;
}
.button{
  width: 60px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
}